@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

$body-bg: #F1F5F9;
$font-family-base: 'Roboto';
$font-size-base: 1rem;

$enable-gradients: true;

$headings-font-family:'Roboto';

$border-radius: 2px;

$primary: #403FC8;
$primary-dark: darken($primary, 3%) !default;
$primary-light: lighten($primary, 3%) !default;
$secondary: lighten($primary, 37.5%) !default;
$secondary-dark: darken($secondary, 3%) !default;
$secondary-light: lighten($secondary, 3%) !default;

$card-border-width: 0;
$card-inner-border-radius: 0.125rem;
$card-cap-bg: #fff;
$card-bg: #fafafa;

$table-hover-bg: #f5f8fc;

$modal-content-border-width: 0;
$modal-backdrop-opacity: .7;

$input-box-shadow: 0;
$input-btn-focus-box-shadow: 0;

$tooltip-max-width: 500px;
$form-feedback-invalid-color: orange;
